* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FFFFCC;
    padding: 10px;
    text-align: center;
}

.navbar h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.col-12 {
    font-weight: bold;
}